.container{
            
    width:500px;
    margin:70px 0 0 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr) 100px 150px repeat(2,1fr) 100px;
    grid-gap:25px ;
}

.items{
    background:lightgray;
    padding: 20px;
}
.item1{
    grid-area: 1/1/2/4;
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: repeat(3,1fr);
    grid-gap:10px;       
}
.item1 .subitems1{ 
    grid-area: 1/1/3/2;
}
.item1 .subitems2{  
    grid-area: 1/2/3/3;
}
.item1 .subitems3{ 
    grid-area: 1/3/3/4;
}
.item1 .subitems4{  
    grid-area: 3/2/4/3;
    background:lightgray;
    text-align: center;
}

.item1 div{
    background: lightseagreen; 
}
.item2{
    grid-area: 2/1/4/2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-gap:10px;
   
}
.item2 div{
    background: lightseagreen;
}
.item3{
    grid-area: 2/2/4/4;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap:10px;
    
}
.item3 div {
    background: lightseagreen;
}

.item3 .subitems5{
    grid-area: 2/1/3/3;
}

.item3 .subitems6{ 
    grid-area: 2/3/3/5;
}

.item3 .subitems7{
    grid-area: 3/2/4/4;
}
.item4{
    grid-area: 4/1/5/2;
}
.item5{
    grid-area: 4/2/5/3;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 10px;
}
.item5 div {
    background: lightseagreen;
}
.item6{
    grid-area: 4/3/5/4;
}
.item7{
    grid-area: 5/1/6/3;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-gap: 10px;

}
.item7 div {
    background: lightseagreen;
}
.item7 .subitems1{
      grid-area: 1/1/5/2;
}
.item7 .subitems2{   
    grid-area: 1/2/5/3;
}
.item7 .subitems3{
    grid-area: 1/3/5/4;
}
.item7 .subitems4{ 
  grid-area: 1/4/5/5;
}

.item8{   
    grid-area: 5/3/6/4;
}
.item9{
    grid-area: 6/1/7/2;
}
.item10{ 
    grid-area: 6/2/8/3; 
}
.item11{ 
    grid-area: 6/3/7/4;
}
.item12{
    grid-area: 8/1/10/4;
    text-align: center;
}